.modal{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, .4);
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  padding: 2rem calc( 4rem + 15px) 2rem 4rem;
}

@media(max-width:40rem){
  .modal{
    padding: 2rem calc(2rem + 15px) 2rem 2rem ;
  }
}