.photo {
  margin: auto;
  border-radius: 0.2rem;
  height: 36rem;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
  background-color: white;
  overflow: hidden;
  transform: scale(0.8);
  opacity: 0;
  animation: scaleUp 0.3s forwards;
}
.photo.single {
  grid-template-columns: 1fr;
  height: auto;
}

@keyframes scaleUp {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.details {
  padding: 2rem 2rem 0;
}
.single .details{
  padding: 1rem 0px 0px 0px;
}
.img {
  grid-row: 1/4;
}
.single .img{
  grid-row: 1;
  border-radius: .2rem;
  overflow: hidden;
}
.author {
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author a:hover {
  text-decoration: underline;
}
.visualizacoes::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  background: url("../../Assets/visualizacao-black.svg");
}
.attributes {
  display: flex;
  font: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.attributes li {
  margin-right: 2rem;
}
.attributes li::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #333;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}

@media (max-width: 64rem) {
  .photo {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }
  .img {
    grid-row: 1;
  }
}
